# **Lecture-2 Python-Basics**

# Operators in Python

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

In [1]:
# Arithmetric Operators
print(5+6)

print(5-6)

print(5*6)

print(5/2)

print(5//2)

print(5%2)

print(5**2)

11
-1
30
2.5
2
1
25

In [2]:
# Relational Operators
print(4>5)

print(4<5)

print(4>=4)

print(4<=4)

print(4==4)

print(4!=4)

False
True
True
True
True
False

In [3]:
# Logical Operators
print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

In [4]:
# Bitwise Operators

# bitwise and
print(2 & 3)

# bitwise or
print(2 | 3)

# bitwise xor
print(2 ^ 3)

print(~3)

print(4 >> 2)

print(5 << 2)

2
3
1
-4
1
20

In [6]:
# Assignment Operators

# =
# a = 2

a = 2

# a = a % 2
a %= 2

# a++ ++a

print(a)

0

In [7]:
# Membership Operators

# in/not in

print('D' not in 'Delhi')

print(1 in [2,3,4,5,6])

False
False

In [8]:
# Program - Find the sum of a 3 digit number entered by the user

number = int(input('Enter a 3 digit number'))

# 345%10 -> 5
a = number%10

number = number//10

# 34%10 -> 4
b = number % 10

number = number//10
# 3 % 10 -> 3
c = number % 10

print(a + b + c)

Enter a 3 digit number345
12

# If-else in Python

In [10]:
# Small login program and indentation
# email -> sagar@gmail.com
# password -> 1234

email = input('enter email')
password = input('enter password')

if email == 'sagar@gmail.com' and password == '1234':
  print('Welcome')
elif email == 'sagar@gmail.com' and password != '1234':
  # tell the user
  print('Incorrect password')
  password = input('enter password again')
  if password == '1234':
    print('Welcome,finally!')
  else:
    print('are you scammer?')
else:
  print('Not correct')

enter emailsagar@gmail.com
enter password1254
Incorrect password
enter password again5845
are you scammer?

In [11]:
# if-else examples
# 1. Find the min of 3 given numbers
# 2. Menu Driven Program

In [ ]:
# min of 3 number - its good for basic understanding

a = int(input('first num'))
b = int(input('second num'))
c = int(input('third num'))

if a<b and a<c:
  print('smallest is',a)
elif b<c:
  print('smallest is',b)
else:
  print('smallest is',c)

first num4
second num1
third num10
smallest is 1

In [12]:
# menu driven calculator
menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
  print('pin change')
elif menu == '2':
  print('balance')
else:
  print('exit')

Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
1
pin change

# Modules in Python

- math
- keywords
- random
- datetime

In [15]:
# math
import math

math.sqrt(196)

14.0

In [18]:
# keyword
import keyword
print(keyword.kwlist)   #total 35

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [19]:
# random
import random
print(random.randint(1,100))

18

In [ ]:
# datetime - very useful in future
import datetime
print(datetime.datetime.now())

2022-11-08 15:50:21.228643

# Loops in Python

- Need for loops
- While Loop
- For Loop

In [21]:
# While loop example -> program to print the table
number = int(input('enter the number'))

i = 1

while i<11:
  print(number,'*',i,'=',number * i)
  i += 1

enter the number4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [ ]:
# while loop with else
x = 1
while x < 3:
  print(x)
  x += 1

else:
  print('limit crossed')

1
2
limit crossed

In [23]:
# Guessing game - good one for practice

# generate a random integer between 1 and 100
import random
jackpot = random.randint(1,100)

guess = int(input('guess number'))
counter = 1
while guess != jackpot:
  if guess < jackpot:
    print('wrong!guess higher')
  else:
    print('wrong!guess lower')

  guess = int(input('guess number'))
  counter += 1

else:
  print('correct guess')
  print('attempts',counter)

guess number50
wrong!guess higher
guess number80
wrong!guess lower
guess number70
wrong!guess higher
guess number73
wrong!guess higher
guess number77
wrong!guess higher
guess number78
wrong!guess higher
guess number79
correct guess
attempts 7

In [ ]:
# For loop demo

for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

In [ ]:
# For loop examples

### Question - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
#code here
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop - 0.1*curr_pop

10 10000
9 9000.0
8 8100.0
7 7290.0
6 6561.0
5 5904.9
4 5314.41
3 4782.969
2 4304.6721
1 3874.20489

# **End of lecture 2 Python-Basics**